:root {
    --bg1: #2e3440;
    --bg2: #3b4252;
    --bg3: #434c5e;
    --bg4: #4c566a;
}

@font-face {
    font-family: rubik;
    src: url('./assets/Rubik-Regular.ttf');
}

body {
    font-family: rubik, roboto;
    color: white;
    background-color: var(--bg1);
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    margin: 0;
}

h1{
    margin: 16px;
}

#main-container {
    display: grid;
    grid-template: 1fr / minmax(250px, 1fr) 5fr;
    margin: 30px;
    height: 95%;
    width: 100%;
}

#sidebar,
#tasks-container {

}

#sidebar {
    background-color: var(--bg2);
}

#tasks-container {
    background-color: var(--bg3);
}

#sidebar button {
    background-color: rgba(0,0,0,0);
    color: white;
    font-family: inherit;
    font-size: 24px;
    padding: 20px 5px;
    width: 100%;
    border: none;
    cursor: pointer;
}
#sidebar button:hover {
    
}
