:root {
    --bg1: #2e3440;
    --bg2: #3b4252;
    --bg3: #434c5e;
    --bg4: #4c566a;
}

@font-face {
    font-family: rubik;
    src: url('./assets/Rubik-Regular.ttf');
}

body {
    font-family: rubik, roboto;
    color: white;
    background-color: var(--bg1);
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    margin: 0;
}

h1{
    margin: 0;
}

#main-container {
    display: grid;
    grid-template: 1fr / minmax(250px, 1fr) 5fr;
    margin: 30px;
    height: 95%;
    width: 100%;
}

#sidebar,
#tasks-container {

}

#sidebar {
    background-color: var(--bg2);
}

#tasks-container {
    background-color: var(--bg3);
}
.header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 20px;
}
.header-div button {
    font-size: 40px;
    margin: 0;
    padding: 0 5px;
}

button {
    background-color: inherit;
    color: white;
    font-family: inherit;
    font-size: 24px;
    padding: 20px 5px;
    border: none;
    cursor: pointer;
}

#sidebar > button {
    width: 100%;
}

button:hover {
    filter: brightness(0.9);
}

dialog {
    background-color: inherit;
    color: inherit;
    padding: 10px;
    border: none;
}
dialog * {
    margin: 16px;
}
dialog button {
    font-size: 18px;
    background-color: var(--bg3);
    padding: 5px 8px;
}

dialog#task-modal div {
    display: flex;
    align-items: center;
}
